*.log
*.aux
*.dvi
*.lof
*.lot
*.bit
*.idx
*.glo
*.bbl
*.bcf
*.ilg
*.toc
*.ind
*.out
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
reference/
.agents/
.claude/
KBBI.pdf
"Skripsi Luthfi Izzudin.pdf"
packages/
sample/
